<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p>Hello {{playerService.currentPlayer.username}}</p>
<h2>Change name: </h2>
<form (ngSubmit)="this.sendUsername()">
  <label>
    Name:
    <input [(ngModel)]="this.inputName" name="input-message">
  </label>
  <button type="submit">Submit</button>
</form>
<h2>Chatting: </h2>
<form (ngSubmit)="this.sendChatMessage()">
  <label>
    Chat message:
    <input [(ngModel)]="this.inputChatMessage" name="input-message">
  </label>
  <button type="submit">Submit</button>
</form>
<h3>Message history:</h3>
<ul style="height: 150px; overflow-y: scroll;">
  <li *ngFor="let message of messages">{{message}}</li>
</ul>
<app-lobby-overview-component *ngIf="!this.isSelectedGameStarted()"></app-lobby-overview-component>
<app-game-session *ngIf="this.isSelectedGameStarted()"></app-game-session>

