<ng-template #changeNameTemplate>
  <mat-accordion style="display: block" class="spacing-bottom">
    <mat-expansion-panel #changeNamePanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Welcome <strong>{{playerService.currentPlayer.username}}</strong>!</span>
        </mat-panel-title>
        <mat-panel-description>
          Change name
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form (ngSubmit)="this.sendUsername()" class="inline">
        <mat-form-field class="full-width">
          <input matInput placeholder="Change name" [(ngModel)]="this.inputName" name="input-message">
        </mat-form-field>
        <button mat-raised-button
                type="submit"
                color="primary"
                [disabled]="!this.inputName.length"
                (click)="changeNamePanel.close()">
          <mat-icon>edit</mat-icon>
          Change
        </button>
      </form>

    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<ng-template #chatWindowTemplate>
  <mat-card class="spacing-bottom">
    <h2>Chatting</h2>
    <form (ngSubmit)="this.sendChatMessage()" class="inline">
      <mat-form-field class="full-width">
        <input matInput placeholder="Message" [(ngModel)]="this.inputChatMessage" name="input-message">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="!this.inputChatMessage.length">
        <mat-icon>send</mat-icon>
      </button>
    </form>

    <ng-container *ngTemplateOutlet="chatHistoryTemplate"></ng-container>

  </mat-card>
</ng-template>

<ng-template #chatHistoryTemplate>
  <mat-list role="list" style="max-height: 150px; overflow-y: auto;">
    <mat-list-item *ngFor="let message of messages" role="listitem">{{message}}</mat-list-item>
  </mat-list>
</ng-template>

<ng-template #gameTemplate>
  <app-game-session *ngIf="this.isSelectedGameStarted()"></app-game-session>
</ng-template>

<div class="container">
  <h1 style="text-align:center">Welcome to {{ title }}!</h1>

  <ng-container *ngTemplateOutlet="changeNameTemplate"></ng-container>

  <ng-container *ngTemplateOutlet="chatWindowTemplate"></ng-container>

  <app-lobby-overview-component *ngIf="!this.isSelectedGameStarted(); else gameTemplate"></app-lobby-overview-component>

</div>
